In [1]:
"Hello World"

'Hello World'

In [2]:
print("Hello World")

Hello World

In [3]:
x="Hello World"

In [4]:
x.upper()

'HELLO WORLD'

In [5]:
x.split('l')

['He', '', 'o Wor', 'd']

In [7]:
# data_text=str(API_result).split(':') = str().split() function splits the values based on parameter

In [8]:
# data_text=str(API_result).replace(':','&') = .replace witll replace parameter with other value

In [ ]:
# to delete any cell, select the cell and press 'dd'
# import numpy as np = this library used for mathematical operations in data analysis
# import pandas as pd = this library used for data frames in data analysis
# import matplotlib.pyplot as plt = this is for visualizing the data
# import seaborn as sns = this is for visualizing the data

In [ ]:
# You can convert JSON to pandas DataFrame by using json_normalize(), read_json() and from_dict() functions. S
# Some of these methods are also used to extract data from JSON files and store them as DataFrame.
# json_normalize() This function is used to convert the JSON string into a DataFrame. You can load JSON string using json.loads() function. Pass JSON object to json_normalize(), which returns a Pandas DataFrame
# https://sparkbyexamples.com/pandas/pandas-convert-json-to-dataframe/#:~:text=You%20can%20convert%20JSON%20to,stands%20for%20JavaScript%20object%20notation%20.